body {
  background: black;
  font-family: congenial-light, sans-serif;
  margin: 3em 4em 4em 4em;
  font-size: 11;
}

ul {
  margin-block-start: 1em;
  padding-inline-start: 1em;
  list-style-type:decimal-leading-zero;
}

li {
  padding-left: 1em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  background:white;
}



.papatya marquee {
  height: 100px;
}
.mama-1{

  -webkit-animation: marquee 70s linear infinite;
}
