* {
  box-sizing: border-box;
}

body {
  margin:0;
}

.flex {
  background-color: black;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items: center;
}

.circle {
  background: white;
  width: 200px;
  height: 200px;
  border-radius:50%;
  animation: pulse 3s ease infinite alternate;
}

#heart {
   position: absolute;
   width: 100px;
   height: 90px;
 }
 #heart:before,
 #heart:after {
   position: absolute;
   content: "";
   left: 50px;
   top: 0;
   width: 50px;
   height: 80px;
   background: black;
   border-radius: 50px 50px 0 0;
   transform: rotate(-45deg);
   transform-origin: 0 100%;
 }
 #heart:after {
   left: 0;
   transform: rotate(45deg);
   transform-origin: 100% 100%;
 }
@keyframes pulse {

0% {background: black;
  transform: scale(1);
}
100% {background: white;
  transform: scale(2);
}
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);

  }
}

@keyframes run {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(100vw);
  }
}
